.header_uic_img {
    background-image: url(../../assets/bg.jpg);
    background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;

}

.list {
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.3s;
}

.list:hover {
    color: white;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.uic_ice {

    background-size: 100% 3px;
    object-fit: cover;
    background-repeat: no-repeat;
    background: #000;
    position: absolute;
    z-index: 40;
    top: 44%;
    mask-image: linear-gradient(to bottom, transparent, rgb(147, 147, 147) 100%);
    -weblit-mask-image: linear-gradient(to bottom, transparent, rgb(117, 117, 117) 100%);
}

.uic_ice_img {
    background-image: url(../../assets/muz.png??);
    background-size: 100% 650px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 18%;
}